# Identity
edc.participant.id=did:web:${root_domain}
edc.hostname=${root_domain}

# Base listener
web.http.port=18181
web.http.path=/api

# Management API (operator-facing, ALB /management/*)
web.http.management.port=19193
web.http.management.path=/management
edc.api.auth.key=password

# Dataspace Protocol API (peer-facing, ALB /protocol/*)
web.http.protocol.port=19194
web.http.protocol.path=/protocol
edc.dsp.callback.address=https://${root_domain}/protocol

# Control API (internal, consumed by dataplane over CloudMap)
web.http.control.port=19192
web.http.control.path=/control

# DCP / Identity
edc.iam.issuer.id=did:web:${root_domain}
edc.iam.did.web.use.https=true
edc.iam.sts.privatekey.alias=did:web:${root_domain}-alias
edc.iam.sts.publickey.id=did:web:${root_domain}#key-1
edc.iam.sts.oauth.client.id=did:web:${root_domain}
edc.iam.sts.oauth.client.secret.alias=did:web:${root_domain}-sts-client-secret
edc.iam.sts.oauth.token.url=http://${identityhub_dns}:7096/api/sts/token

# PostgreSQL
edc.sql.schema.autocreate=true
edc.datasource.default.url=jdbc:postgresql://${rds_host}:${rds_port}/controlplane
edc.datasource.default.user=${db_username}
edc.datasource.default.password=$${DB_PASSWORD}

# Vault
edc.vault.hashicorp.url=http://${vault_dns}:8200
edc.vault.hashicorp.token=$${VAULT_TOKEN}
